image: jlemein/ubuntu:20.04

build:
  stage: build
  # instead of calling g++ directly you can also use some build toolkit like make
  # install the necessary build tools when needed
  # before_script:
  #   - apt update && apt -y install make autoconf
  script:
    - conan remote add package_server $CONAN_REMOTE_URL
    - conan user $CONAN_LOGIN_USERNAME -r package_server -p $CONAN_PASSWORD
    - conan profile new default --detect
    - conan profile update settings.compiler.libcxx=libstdc++11 default
    - conan install . -if build
    - conan build . -bf build
  artifacts:
    paths:
      - build/bin
      - build/assets
      # depending on your build setup it's most likely a good idea to cache outputs to reduce the build time
      # cache:
      #   paths:
      #     - "*.o"

# run tests using the binary built before
# test:
#   stage: test
#   script:
#     - ./runmytests.sh
